@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Bitcount+Grid+Single+Ink:wght@100..900&family=Bitcount+Ink:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+MX+Guides&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.container_principal {
  width: 100%;
  height: 92vh;
  padding: 50px;
}

.container_esquerda {
  width: 25%;
  height: 100%;
  background-color: rgb(31, 0, 188);
  border: 3px solid #0080ff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.check {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: blue;
  border: 2px solid #00158c;
  border-radius: 40px;
  padding-inline: 7px;
}

.check:has(input[type="checkbox"]:checked) {
  background-color: #9202af;
  border: 2px solid rgb(65, 0, 114);
}

p{
  position: relative;
  z-index: 1;
}

input {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
  transition: 0.2s;
  display: none;
}

.check_la {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px; /* substitui row-gap/column-gap */
  align-items: center;
}
