
.p {
  color: black;
}

.container_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container_sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  width: 50%;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 34px;
  z-index: 1;
}

.pergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 50%;
  gap: 1rem;
  border-radius: 30px;
  z-index: 2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 50%;
  gap: 1rem;
  background-color: #003569;
  border-radius: 30px;
  z-index: 2;
}

.container_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.a {
  width: 250px;
  padding: 10px;
  background: #00ff73;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  text-align: center;
}

.button {
  width: 250px;
  padding: 10px;
  background: #0070f3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background: #005bb5;
}

